@import url("https://fonts.googleapis.com/css2?family=Lato&family=Merriweather:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font1: "Merriweather", sans-serif;
  --font2: "Lato", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  min-height: 100vh;
}

h1,
h2 {
  font-family: var(--font1);
}

p,
button,
form {
  font-family: var(--font2);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #d7d4ff;
  padding: 0 100px;
}

.headerContent {
  display: flex;
  flex-direction: column;
  padding: 138px 0 120px 0;
}

.headerContent h1 {
  width: 350px;
  margin-bottom: 18px;
  line-height: 47px;
  font-size: 2.25em;
  color: #2b2b2b;
}

.headerContent p {
  width: 390px;
  margin-bottom: 45px;
  line-height: 32px;
  font-size: 1.188em;
  color: #555555;
}

.headerContent button {
  width: 155px;
  background-color: #6c63ff;
  font-size: 1.25em;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  padding: 14px 0;
  border: none;
  outline: none;
  box-shadow: 0px 5px 5px rgba(23, 23, 23, 0.1);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.headerContent button:hover {
  background: #fff;
  color: #2c0b8e;
}

.headerImg {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 77px 0 124px 0;

  /* Floating Animation */
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.headerImg img {
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  padding: 150px 0;
}

.cardsBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 68px;
  column-gap: 111px;
  flex-wrap: wrap;
}

.card {
  width: 340px;
  height: 423px;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: all 0.4s ease;
}

.card:hover {
  transform: scale(1.1);
}

.card .imgContent {
  background-color: #ff6363;
}

.card:nth-of-type(2) .imgContent {
  background-color: #63ecff;
}

.card:nth-of-type(3) .imgContent {
  background-color: #f363ff;
}

.card:nth-of-type(4) .imgContent {
  background-color: #63ff73;
}

.card:nth-of-type(5) .imgContent {
  background-color: #ffdd63;
}

.card:nth-of-type(6) .imgContent {
  background-color: #6663ff;
}

.card .imgContent {
  width: 100%;
  height: 52.49%;
}

.card .infoContent {
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding: 25px;
  overflow-y: visible;
}

.card .infoContent h2 {
  font-size: 1.5em;
  height: 31px;
  overflow-y: auto;
  font-weight: 700;
  color: #2b2b2b;
}

.card .infoContent p {
  font-size: 1.125em;
  color: #555555;
  font-weight: 400;
  line-height: 30px;
  overflow-y: auto;
  height: 90px;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
  background: #d7d4ff;
}

footer form {
  width: 470px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form input::placeholder,
textarea::placeholder {
  font-family: var(--font2);
  color: rgba(110, 114, 117, 0.741);
}
footer form label {
  display: flex;
  align-self: center;
  margin-bottom: 60px;
}

footer form label h1 {
  font-size: 2em;
  color: #2b2b2b;
  font-weight: 400;
}

footer form input {
  margin-bottom: 15px;
}
footer form input,
textarea {
  padding: 20px 15px;
  border-radius: 6px;
  font-size: 1.125rem;
  color: #2b2b2b;
  border: none;
  outline: none;
  font-size: 100%;
}

footer form textarea {
  resize: none;
  line-height: 22px;
  margin-bottom: 30px;
}

footer form button {
  background-color: #6c63ff;
  font-size: 1.25em;
  letter-spacing: 1px;
  font-weight: 700;
  color: #fff;
  padding: 13px 0;
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(23, 23, 23, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
}

footer form button:hover {
  background: #fff;
  color: #2c0b8e;
}

/* Responsividade */

@media (max-width: 1100px) {
  header {
    justify-content: center;
    padding: 0 30px;
  }
}

@media (max-width: 790px) {
  header {
    padding: 55px 0 88px 0;
    flex-direction: column;
    gap: 115px;
  }

  .headerContent {
    align-self: center;
    padding: 0;
  }

  .headerImg {
    padding: 0;
    justify-content: center;
  }

  .headerImg img {
    width: 80%;
  }

  main {
    padding: 75px 0;
  }
}

@media (max-width: 414px) {
  .headerContent {
    width: auto;
    align-self: flex-start;
    padding: 0 20px;
  }

  .headerContent h1 {
    width: auto;
    font-size: 2em;
    font-weight: 400;
  }

  .headerContent p {
    width: auto;
    text-align: justify;
    font-size: 1.125em;
  }

  .headerImg {
    justify-content: flex-start;
    padding: 0 32px;
  }
  .headerImg img {
    width: 100%;
  }

  main {
    padding-left: 20px;
    padding-right: 20px;
  }

  .cardsBox {
    gap: 30px;
  }

  .card {
    width: auto;
  }

  footer {
    padding: 80px 20px 56px 20px;
  }
}
