@media screen and (min-width: 768px) {
  html {
    font-size: 100%;
  }

  body {
    font-size: 1rem;
  }

  .bgHeader {
    padding: 0 0 0 100px;
  }

  .contentHeader {
    width: 468px;
  }

  .contentHeader h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }

  .contentHeader p {
    line-height: 35.31px;
    line-break: loose;
    font-size: 1.125em;
  }

  main {
    padding: 58px 0;
  }

  .mainTitle h2 {
    font-size: 2em;
  }

  .mainTitle p {
    font-size: 1.125em;
  }

  .itemsContainer {
    gap: 13px;
  }

  .itemsContainer .item {
    padding: 76px 25px;
    width: 300px;
  }
}
