@import url('https://fonts.googleapis.com/css2?family=B612:wght@400;700&display=swap');

:root {
    --yellow: #FFA800;
    --blue: #0072D2;
    --white: #FFFFFF;
    --dark: #131313;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'B612', sans-serif;
}

body {
    font-size: 16px;
    background-image: url(images/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.page-content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--white);
    padding: 45px 0;
}

header {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

header h3 {
    font-size: 1.250em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 35px;
}

header h1 {
    font-size: 6em;
}

.container {
    display: flex;
    justify-content: center;
    gap: 73px;
    margin: auto;
    width: 75vw;

}

.poster {
    width: min-content;
}

.poster img {
    width: max-content;
    height: 100%;
}

.container-info {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.container-info p {
    font-size: 1.250em;
    font-weight: 400;
    line-height: 32px;
}

.metadata-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    font-weight: 400;
    width: 90%;
}

.watchtime.bi,
.bi-clock {
    font-size: 1.563em;
}

.rating span .bi-star-fill {
    color: var(--yellow);
    font-size: 33.33px;
}

.rating span:nth-child(5) .bi-star-fill {
    color: rgba(255, 255, 255, 0.5);
}

.container-btn {
    display: flex;
    gap: 20px;
}

.container-btn button {
    text-transform: uppercase;
    font-size: 16px;
    color: var(--white);
    font-weight: 700;
    border-radius: 3px;
    padding: 15px 27px;
    outline: none;
    cursor: pointer;
}

.container-btn button:nth-child(1) {
    border: none;
    background-color: var(--blue);
}

.container-btn button:nth-child(2) {
    border: 1px solid var(--white);
    background-color: var(--dark);
}